<a href="https://colab.research.google.com/github/dcarnieto/data-sciece-learning/blob/main/Basic_libs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [7]:
##cad_porto = pd.read_excel(r'/content/train.csv')
cad_porto = pd.read_csv(r'/content/train.csv')
cad_porto.head()

,id,var1,var2,var3,var4,var5,var6,var7,var8,var9,...,var60,var61,var62,var63,var64,var65,var66,var67,var68,y
0,1,18,19,2853,29442,1386,2435,35,-999,3,...,0.311441,0.142303,0.056146,0.632694,0.024054,0.253356,0.00603,0.132353,0.139706,1
1,8,4,110,1986,13684,7189,-999,-999,17,3,...,-999.000000,-999.000000,0.070991,0.773966,0.019315,-999.000000,-999.00000,0.147059,0.106618,0
2,30,0,39,1019,10232,678,791,16,-999,3,...,-999.000000,0.200814,0.051046,0.980827,0.018536,-999.000000,-999.00000,0.382353,0.242647,0
3,43,20,39,1751,2689,8235,1042,13,10,1,...,-999.000000,0.352379,0.044301,0.951564,0.023684,0.363370,0.00201,0.147059,0.132353,0
4,46,7,44,2262,29428,6031,304,16,-999,3,...,0.021226,0.226161,0.059125,0.906155,0.020733,-999.000000,-999.00000,0.455882,0.132353,1

In [9]:
cad_porto.dtypes

id         int64
var1       int64
var2       int64
var3       int64
var4       int64
          ...
var65    float64
var66    float64
var67    float64
var68    float64
y          int64
Length: 70, dtype: object

In [10]:
cad_porto.sort_values(by=['id'])

,id,var1,var2,var3,var4,var5,var6,var7,var8,var9,...,var60,var61,var62,var63,var64,var65,var66,var67,var68,y
0,1,18,19,2853,29442,1386,2435,35,-999,3,...,0.311441,0.142303,0.056146,0.632694,0.024054,0.253356,0.00603,0.132353,0.139706,1
4672,6,4,126,1353,25607,10805,2642,35,27,-999,...,-999.000000,0.451129,0.063078,0.002018,0.030028,-999.000000,-999.00000,0.161765,0.227941,0
1,8,4,110,1986,13684,7189,-999,-999,17,3,...,-999.000000,-999.000000,0.070991,0.773966,0.019315,-999.000000,-999.00000,0.147059,0.106618,0
4673,10,4,126,1360,14822,7578,2141,35,27,3,...,-999.000000,0.374446,0.119116,0.598385,0.068126,-999.000000,-999.00000,0.102941,0.147059,0
4674,11,20,74,1829,778,1109,1477,31,24,1,...,0.187812,0.570454,0.072414,0.902119,0.056297,0.548989,0.01206,0.176471,0.316176,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14119,35296,19,129,1114,-999,6376,-999,-999,27,-999,...,-999.000000,0.295418,0.055899,0.921292,0.018293,-999.000000,-999.00000,0.147059,0.198529,0
14120,35301,27,44,1786,23761,9048,623,35,27,3,...,-999.000000,0.203394,0.040697,0.930373,0.009440,-999.000000,-999.00000,0.397059,0.158088,0
14121,35304,4,89,210,19593,3634,2453,35,27,1,...,0.070788,0.381038,0.100384,0.680121,0.041096,-999.000000,-999.00000,0.264706,0.128676,0
4671,35305,18,19,769,26083,11211,463,35,-999,1,...,-999.000000,0.426330,0.138582,0.927346,0.030237,-999.000000,-999.00000,0.147059,0.165441,0
14122,35306,21,53,568,4612,4982,1438,33,25,3,...,-999.000000,0.229701,0.125199,0.877901,0.046154,-999.000000,-999.00000,0.176471,0.128676,0