<a href="https://colab.research.google.com/github/dcarnieto/data-science-learning/blob/main/Fundamentos_Python_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [12]:
##cad_porto = pd.read_csv(r'/content/train.csv')
df_cervejaria = pd.read_excel(r'/content/cervejaria.xlsx')
df_cervejaria.head()

    visitas  excursoes  preco   ano  trimestre     data
0   86947.0      115.0    4.6  2014          1  Q1 2014
1  134868.0      135.0    5.1  2014          2  Q2 2014
2  143617.0      155.0    5.3  2014          3  Q3 2014
3  102210.0      157.0    4.6  2014          4  Q4 2014
4   93407.0      110.0    4.5  2015          1  Q1 2015

In [4]:
df_cervejaria.dtypes

visitas      float64
excursoes    float64
preco        float64
ano            int64
trimestre      int64
data          object
dtype: object

In [5]:
df_cervejaria.sort_values(by=['preco','ano'])

     visitas  excursoes  preco   ano  trimestre     data
8    59924.0       85.0   3.60  2016          1  Q1 2016
11   91459.0      123.0   3.60  2016          4  Q4 2016
9   224988.0      175.0   3.70  2016          2  Q2 2016
10  169767.0      185.0   3.80  2016          3  Q3 2016
12   72018.0      115.0   4.10  2017          1  Q1 2017
16  134187.0      135.0   4.30  2018          1  Q1 2018
19  198209.0      205.0   4.30  2018          4  Q4 2018
13  220235.0      175.0   4.35  2017          2  Q2 2017
15  220199.0      195.0   4.35  2017          4  Q4 2017
4    93407.0      110.0   4.50  2015          1  Q1 2015
17  219107.0      185.0   4.50  2018          2  Q2 2018
0    86947.0      115.0   4.60  2014          1  Q1 2014
3   102210.0      157.0   4.60  2014          4  Q4 2014
14  310199.0      235.0   4.60  2017          3  Q3 2017
18  212257.0      215.0   4.60  2018          3  Q3 2018
24   75288.0      145.0   4.60  2020          1  Q1 2020
20  129317.0      125.0   4.80  2019          1  Q1 2019
21  219567.0      205.0   5.00  2019          2  Q2 2019
1   134868.0      135.0   5.10  2014          2  Q2 2014
23  139623.0      235.0   5.10  2019          4  Q4 2019
27  150690.0      185.0   5.10  2020          4  Q4 2020
2   143617.0      155.0   5.30  2014          3  Q3 2014
22  230917.0      245.0   5.30  2019          3  Q3 2019
26  221017.0      175.0   5.30  2020          3  Q3 2020
28  223554.5      115.0   5.45  2021          1  Q1 2021
29  249306.1      185.0   5.57  2021          2  Q2 2021
5   151975.0      117.0   5.60  2015          2  Q2 2015
25  189707.0      167.0   5.60  2020          2  Q2 2020
30  275057.7      225.6   5.69  2021          3  Q1 2021
31  300809.3      235.0   5.81  2021          4  Q2 2021
6   137507.0      132.5   6.10  2015          3  Q3 2015
7   118568.0      167.0   6.35  2015          4  Q4 2015

In [6]:
# exibe a dimensão
df_cervejaria.shape

(32, 6)

In [7]:
df_cervejaria.sort_values(by=['visitas','excursoes'], ascending = False)

     visitas  excursoes  preco   ano  trimestre     data
14  310199.0      235.0   4.60  2017          3  Q3 2017
31  300809.3      235.0   5.81  2021          4  Q2 2021
30  275057.7      225.6   5.69  2021          3  Q1 2021
29  249306.1      185.0   5.57  2021          2  Q2 2021
22  230917.0      245.0   5.30  2019          3  Q3 2019
9   224988.0      175.0   3.70  2016          2  Q2 2016
28  223554.5      115.0   5.45  2021          1  Q1 2021
26  221017.0      175.0   5.30  2020          3  Q3 2020
13  220235.0      175.0   4.35  2017          2  Q2 2017
15  220199.0      195.0   4.35  2017          4  Q4 2017
21  219567.0      205.0   5.00  2019          2  Q2 2019
17  219107.0      185.0   4.50  2018          2  Q2 2018
18  212257.0      215.0   4.60  2018          3  Q3 2018
19  198209.0      205.0   4.30  2018          4  Q4 2018
25  189707.0      167.0   5.60  2020          2  Q2 2020
10  169767.0      185.0   3.80  2016          3  Q3 2016
5   151975.0      117.0   5.60  2015          2  Q2 2015
27  150690.0      185.0   5.10  2020          4  Q4 2020
2   143617.0      155.0   5.30  2014          3  Q3 2014
23  139623.0      235.0   5.10  2019          4  Q4 2019
6   137507.0      132.5   6.10  2015          3  Q3 2015
1   134868.0      135.0   5.10  2014          2  Q2 2014
16  134187.0      135.0   4.30  2018          1  Q1 2018
20  129317.0      125.0   4.80  2019          1  Q1 2019
7   118568.0      167.0   6.35  2015          4  Q4 2015
3   102210.0      157.0   4.60  2014          4  Q4 2014
4    93407.0      110.0   4.50  2015          1  Q1 2015
11   91459.0      123.0   3.60  2016          4  Q4 2016
0    86947.0      115.0   4.60  2014          1  Q1 2014
24   75288.0      145.0   4.60  2020          1  Q1 2020
12   72018.0      115.0   4.10  2017          1  Q1 2017
8    59924.0       85.0   3.60  2016          1  Q1 2016

## Eliminando duplicadas

In [8]:
# Eliminando os casos duplicados - tipo unique no R
# Não preciso passar paramentros, a função vai olhar para toda linha e coluna.
# Uma linha que possui ID 2 foi eliminada pq toda ela é duplicada.
# No ID 1 como sexo é diferente permanece as duas linhas. 
df_cervejaria_drop = df_cervejaria.drop_duplicates()
df_cervejaria_drop.sort_values(by=['ano'])

     visitas  excursoes  preco   ano  trimestre     data
0    86947.0      115.0   4.60  2014          1  Q1 2014
1   134868.0      135.0   5.10  2014          2  Q2 2014
2   143617.0      155.0   5.30  2014          3  Q3 2014
3   102210.0      157.0   4.60  2014          4  Q4 2014
4    93407.0      110.0   4.50  2015          1  Q1 2015
5   151975.0      117.0   5.60  2015          2  Q2 2015
6   137507.0      132.5   6.10  2015          3  Q3 2015
7   118568.0      167.0   6.35  2015          4  Q4 2015
8    59924.0       85.0   3.60  2016          1  Q1 2016
9   224988.0      175.0   3.70  2016          2  Q2 2016
10  169767.0      185.0   3.80  2016          3  Q3 2016
11   91459.0      123.0   3.60  2016          4  Q4 2016
14  310199.0      235.0   4.60  2017          3  Q3 2017
15  220199.0      195.0   4.35  2017          4  Q4 2017
12   72018.0      115.0   4.10  2017          1  Q1 2017
13  220235.0      175.0   4.35  2017          2  Q2 2017
16  134187.0      135.0   4.30  2018          1  Q1 2018
17  219107.0      185.0   4.50  2018          2  Q2 2018
18  212257.0      215.0   4.60  2018          3  Q3 2018
19  198209.0      205.0   4.30  2018          4  Q4 2018
23  139623.0      235.0   5.10  2019          4  Q4 2019
22  230917.0      245.0   5.30  2019          3  Q3 2019
20  129317.0      125.0   4.80  2019          1  Q1 2019
21  219567.0      205.0   5.00  2019          2  Q2 2019
24   75288.0      145.0   4.60  2020          1  Q1 2020
25  189707.0      167.0   5.60  2020          2  Q2 2020
26  221017.0      175.0   5.30  2020          3  Q3 2020
27  150690.0      185.0   5.10  2020          4  Q4 2020
30  275057.7      225.6   5.69  2021          3  Q1 2021
28  223554.5      115.0   5.45  2021          1  Q1 2021
29  249306.1      185.0   5.57  2021          2  Q2 2021
31  300809.3      235.0   5.81  2021          4  Q2 2021

In [9]:
df_cervejaria.shape

(32, 6)

Criando variável categórica

In [13]:
# Criando uma variavel chamada sexo_categorizada, coloquei"" pq é sting.
# Passei [] pq é uma lista de valores.
# {} dicionario, uma das estrutura do python.
# Função map significa mapeamento - funçãi built- in funções nativas do python
df_cervejaria['trimcat'] = df_cervejaria['trimestre'].map({1: 'Jan/Fev/Mar',2:'Abr/Mai/Jun',3:'Jul/Ago/Set',4:'Out/Nov/Dez'})
df_cervejaria.head()

    visitas  excursoes  preco   ano  trimestre     data      trimcat
0   86947.0      115.0    4.6  2014          1  Q1 2014  Jan/Fev/Mar
1  134868.0      135.0    5.1  2014          2  Q2 2014  Abr/Mai/Jun
2  143617.0      155.0    5.3  2014          3  Q3 2014  Jul/Ago/Set
3  102210.0      157.0    4.6  2014          4  Q4 2014  Out/Nov/Dez
4   93407.0      110.0    4.5  2015          1  Q1 2015  Jan/Fev/Mar

In [14]:
# crosstab tabela de referencia cruzada.
# Não coloquei "" nos campos pq estou chamando o arquivo para localizar as variaveis.
pd.crosstab(df_cervejaria.trimestre, df_cervejaria.trimcat)

trimcat    Abr/Mai/Jun  Jan/Fev/Mar  Jul/Ago/Set  Out/Nov/Dez
trimestre
1                    0            8            0            0
2                    8            0            0            0
3                    0            0            8            0
4                    0            0            0            8

In [21]:
df_cervejaria.describe().visitas

count        32.000000
mean     172078.175000
std       68024.638382
min       59924.000000
25%      126629.750000
50%      160871.000000
75%      220430.500000
max      310199.000000
Name: visitas, dtype: float64

In [37]:
df_cervejaria['faixa_visitas'] = pd.cut(df_cervejaria['visitas'], bins=[0,130000,170000,220000,320000],
                                        labels=["baixa - Faixa 1","média - Faixa 2","moderada - Faixa 3","alta - Faixa 4"])

In [38]:
df_cervejaria

,visitas,excursoes,preco,ano,trimestre,data,trimcat,faixa_visitas
0,86947.0,115.0,4.60,2014,1,Q1 2014,Jan/Fev/Mar,baixa - Faixa 1
1,134868.0,135.0,5.10,2014,2,Q2 2014,Abr/Mai/Jun,média - Faixa 2
2,143617.0,155.0,5.30,2014,3,Q3 2014,Jul/Ago/Set,média - Faixa 2
3,102210.0,157.0,4.60,2014,4,Q4 2014,Out/Nov/Dez,baixa - Faixa 1
4,93407.0,110.0,4.50,2015,1,Q1 2015,Jan/Fev/Mar,baixa - Faixa 1
5,151975.0,117.0,5.60,2015,2,Q2 2015,Abr/Mai/Jun,média - Faixa 2
6,137507.0,132.5,6.10,2015,3,Q3 2015,Jul/Ago/Set,média - Faixa 2
7,118568.0,167.0,6.35,2015,4,Q4 2015,Out/Nov/Dez,baixa - Faixa 1
8,59924.0,85.0,3.60,2016,1,Q1 2016,Jan/Fev/Mar,baixa - Faixa 1
9,224988.0,175.0,3.70,2016,2,Q2 2016,Abr/Mai/Jun,alta - Faixa 4
10,169767.0,185.0,3.80,2016,3,Q3 2016,Jul/Ago/Set,média - Faixa 2
11,91459.0,123.0,3.60,2016,4,Q4 2016,Out/Nov/Dez,baixa - Faixa 1
12,72018.0,115.0,4.10,2017,1,Q1 2017,Jan/Fev/Mar,baixa - Faixa 1
13,220235.0,175.0,4.35,2017,2,Q2 2017,Abr/Mai/Jun,alta - Faixa 4
14,310199.0,235.0,4.60,2017,3,Q3 2017,Jul/Ago/Set,alta - Faixa 4
15,220199.0,195.0,4.35,2017,4,Q4 2017,Out/Nov/Dez,alta - Faixa 4
16,134187.0,135.0,4.30,2018,1,Q1 2018,Jan/Fev/Mar,média - Faixa 2
17,219107.0,185.0,4.50,2018,2,Q2 2018,Abr/Mai/Jun,moderada - Faixa 3
18,212257.0,215.0,4.60,2018,3,Q3 2018,Jul/Ago/Set,moderada - Faixa 3
19,198209.0,205.0,4.30,2018,4,Q4 2018,Out/Nov/Dez,moderada - Faixa 3
20,129317.0,125.0,4.80,2019,1,Q1 2019,Jan/Fev/Mar,baixa - Faixa 1
21,219567.0,205.0,5.00,2019,2,Q2 2019,Abr/Mai/Jun,moderada - Faixa 3
22,230917.0,245.0,5.30,2019,3,Q3 2019,Jul/Ago/Set,alta - Faixa 4
23,139623.0,235.0,5.10,2019,4,Q4 2019,Out/Nov/Dez,média - Faixa 2
24,75288.0,145.0,4.60,2020,1,Q1 2020,Jan/Fev/Mar,baixa - Faixa 1
25,189707.0,167.0,5.60,2020,2,Q2 2020,Abr/Mai/Jun,moderada - Faixa 3
26,221017.0,175.0,5.30,2020,3,Q3 2020,Jul/Ago/Set,alta - Faixa 4
27,150690.0,185.0,5.10,2020,4,Q4 2020,Out/Nov/Dez,média - Faixa 2
28,223554.5,115.0,5.45,2021,1,Q1 2021,Jan/Fev/Mar,alta - Faixa 4
29,249306.1,185.0,5.57,2021,2,Q2 2021,Abr/Mai/Jun,alta - Faixa 4
30,275057.7,225.6,5.69,2021,3,Q1 2021,Jul/Ago/Set,alta - Faixa 4
31,300809.3,235.0,5.81,2021,4,Q2 2021,Out/Nov/Dez,alta - Faixa 4

In [39]:
# função value_counts - descritiva, contagem de valores dentro de cada categoria
df_cervejaria['faixa_visitas'].value_counts()

alta - Faixa 4        10
baixa - Faixa 1        9
média - Faixa 2        8
moderada - Faixa 3     5
Name: faixa_visitas, dtype: int64

In [40]:
# salvando em excel
#escrever = pd.ExcelWriter(r'/content/df_cervejaria.xlsx/')
#df_cervejaria.to_excel(escrever, index=False)
#escrever.save()

ValueError: ignored

In [42]:
from google.colab import files
df_cervejaria.to_csv('df_cervejaria.csv') 
files.download('df_cervejaria.csv')